body {
  margin: 0;
  padding: 0;
  font: 12px/1.2em helvetica, sans-serif;
  background: #f2f0e5;
  color: #3C3327;
}

#page {
  width: 780px;
  margin: 0 auto;
  background: white;
  min-height: 400px;
  background: #f2f0e5 url('/static/bg.jpg') repeat-y center;
  margin-bottom: -19px;
}

#header .wrap {
  position: relative;
  overflow: auto;
  background: #f2f0e5 url('/static/header.jpg') no-repeat center;
  height: 256px;
  overflow: hidden;
/*  text-indent: -1000px;*/
  outline: none;
  padding-left: 230px;
  font-size: 40px;
}

#header .wrap a {
  position: absolute;
  height: 256px;
  display: block;
  line-height: 390px;
  color: #887457;
  text-decoration: none;
  text-indent: -10000px;
  width: 320px;
}

#header form.sign_in_form {
/*  margin-top: -300px;*/
  position: absolute;
  margin-top: -132px;
  margin-left: 24px;
  line-height: 0em;
}

#header form.sign_in_form #login_openid {
  width: 144px;
  font-size: 9px;
}

#header form.sign_in_form #submit_button {
  font-size: 9px;
  margin-left: 12px;
}

#header form.logged_in_form {
  position: absolute;
  margin-top: -117px;
  margin-left: 24px;
  width: 200px;
}

#header hr {
  display: none;
}

#content {
  padding: 0 26px;
  background-color: white;
  margin: 10px;
}

#footer {
  min-height: 50px;
  background: #f2f0e5 url('/static/footer.jpg') no-repeat center bottom;
  text-align: center;
/*  border: 1px solid #999;*/
}

#footer p {
  padding-top: 13px;
}


/* elements */

em.openid_url {
  color: #9F8A66;
}

form.signup label {
  width: 90px;
  float: left;
}

form.signup input[type=text] {
  clear: left;
  margin-left: 20px;
  width: 274px;
}

form #avatar_preview {
  clear: left;
  margin-left: 20px;
}

form.new_band label {
  width: 90px;
  float: left;
}

form.new_band input[type=text] {
  clear: left;
  margin-left: 20px;
  width: 274px;
}

form.new_band input[type=submit] {
  margin-left: 12px;
}

#new_bands {
  list-style: none;
  padding-left: 23px;
}

#new_bands li {
  margin-bottom: 12px;
}

#new_bands li em {
  display: block;
  margin-left: 12px;
}

